@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @await Html.PartialAsync("_DigitalClock")

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-danger border-0"><i class="bi bi-box-arrow-right"></i> Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white bi bi-person-plus" id="register" asp-area="Identity" asp-page="/Account/Register"> Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white bi bi-box-arrow-in-right" id="login" asp-area="Identity" asp-page="/Account/Login"> Login</a>
        </li>
    }
</ul>
